
.makecenter {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}


.btns {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btns button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #a259ff, #f64c72); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btns button:hover {
  background: linear-gradient(90deg, #f64c72, #a259ff); 
  transform: scale(1.05);
}



.installation-section {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.installation-section ol {
  margin-left: 20px;
}

.installation-section li {
  margin: 10px 0;
}


.about-section {
  text-align: center;
  margin-top: 30px;
}

.documentation-section {
  text-align: center;
  margin-top: 30px;
}
